# Credit Card Data Generator

Welcome to the data generator for the Credit Card Analytics notebook! We will be downloading, processing, and uploading files from/to the following [S3 location](https://s3.console.aws.amazon.com/s3/buckets/data.atoti.io?region=eu-west-3&bucketType=general&prefix=notebooks/retail-banking/input/&showversions=false).

**[Input](https://s3.console.aws.amazon.com/s3/buckets/data.atoti.io?region=eu-west-3&bucketType=general&prefix=notebooks/retail-banking/input/&showversions=false):** 

* `cards.csv`
* `users.csv`
* `credit_card_transactions.csv.gz`

**[Output](https://s3.console.aws.amazon.com/s3/buckets/data.atoti.io?region=eu-west-3&bucketType=general&prefix=notebooks/retail-banking/data/&showversions=false)**

* `cards_processed.csv` <-- created from this notebook
* `users_processed.csv` <-- created from this notebook
* `credit_card_transactions_processed_5MM.csv.gz` <-- created from this notebook

<div style="text-align: center;" ><a href="https://www.atoti.io/?utm_source=gallery&utm_content=cc-data-generator" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/Discover-Atoti-now.png" alt="Try atoti"></a></div>

## Import Libraries

In [23]:
import atoti
import pandas as pd
import time
import os
import numpy as np
from datetime import datetime

# Set max rows and columns for DataFrame
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000

# Create output folder containing processed files,
# Files in this directory will be added to .gitignore
outdir = "data"
if not os.path.exists(outdir):
    os.mkdir(outdir)

## Process Credit Card Data from S3

1. [Load credit card info data from S3.](#Load-Credit-Card-Info-Data-from-S3)
2. [Format Credit Card Data.](#Format-Credit-Card-Data)
3. [Assign Entity Relationships for Cards-to-Retailers.](#Assign-Entity-Relationships-for-Cards-to-Retailers)
4. [Output Credit Card Data as CSV.](#Output-Credit-Card-Data-as-CSV)

### Load Credit Card Info Data from S3

In [11]:
# Use `read_csv` pandas function to read from S3 URI
cc_df = pd.read_csv("s3://data.atoti.io/notebooks/retail-banking/input/cards.csv")
cc_df.head()

,User,CARD INDEX,Card Brand,Card Type,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Card on Dark Web
0,0,0,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,0,1,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,0,2,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,0,3,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,0,4,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

### Assign Entity Relationships for Cards-to-Retailers

In [12]:
# Find the distinct credit card brands
unique_values = cc_df["Card Brand"].unique()
print(sorted(unique_values))

['Amex', 'Discover', 'Mastercard', 'Visa']

In [13]:
# Find the distinct credit card combinations, and their frequency counts overall
cc_combinations_df = cc_df.groupby(["Card Brand", "Card Type"], as_index=False).size()
cc_combinations_df

   Card Brand        Card Type  size
0        Amex           Credit   402
1    Discover           Credit   209
2  Mastercard           Credit   635
3  Mastercard            Debit  2191
4  Mastercard  Debit (Prepaid)   383
5        Visa           Credit   811
6        Visa            Debit  1320
7        Visa  Debit (Prepaid)   195

In [14]:
# Find the distinct credit card combinations for each user, and their frequency counts
cc_combinations_df = cc_df.groupby(
    ["User", "Card Brand", "Card Type"], as_index=False
).size()
cc_combinations_df

      User  Card Brand        Card Type  size
0        0  Mastercard  Debit (Prepaid)     1
1        0        Visa           Credit     1
2        0        Visa            Debit     3
3        1  Mastercard            Debit     1
4        1  Mastercard  Debit (Prepaid)     2
...    ...         ...              ...   ...
4646  1997  Mastercard            Debit     1
4647  1997        Visa           Credit     1
4648  1998  Mastercard           Credit     1
4649  1999  Mastercard            Debit     1
4650  1999        Visa           Credit     1

[4651 rows x 4 columns]

In [15]:
# Find the max frequency count for all distinct credit card combinations at the user level
max_cc_combinations = cc_combinations_df.groupby(
    ["Card Brand", "Card Type"], as_index=False
)["size"].max()
max_cc_combinations

   Card Brand        Card Type  size
0        Amex           Credit     4
1    Discover           Credit     2
2  Mastercard           Credit     4
3  Mastercard            Debit     6
4  Mastercard  Debit (Prepaid)     3
5        Visa           Credit     4
6        Visa            Debit     5
7        Visa  Debit (Prepaid)     2

In [16]:
# Load retailer data
cc_info = pd.read_csv("s3://data.atoti.io/notebooks/retail-banking/input/retailers.csv")
cc_info.head()

,Retailer ID,Retailer Name,Card Brand,Card Type,Level 1,Level 2,Level 3,Level 4,Level 5,Industry
0,1,Cathay Pacific Elite,Amex,Credit,Bank Corp,Consumer Banking,Cards Business,Travel,Airline,Airline
1,2,Hilton Honors,Amex,Credit,Bank Corp,Consumer Banking,Cards Business,Travel,Hotel,Hotel
2,3,Delta SkyMiles Reserve,Amex,Credit,Bank Corp,Consumer Banking,Cards Business,Travel,Airline,Airline
3,4,Marriot Bonvoy Brilliant,Amex,Credit,Bank Corp,Consumer Banking,Cards Business,Travel,Hotel,Hotel
4,5,Discover it Miles,Discover,Credit,Bank Corp,Consumer Banking,Cards Business,Financials,Cards & Banking,Cards & Banking

In [17]:
from utils.assign_retailers import assign_retailers

# Add the new `Retailer ID` column with empty values
cc_df.insert(2, "Retailer ID", "")

# Assign Retailer ID values and check
cc_df = assign_retailers(cc_df, cc_combinations_df)
cc_df

,User,CARD INDEX,Retailer ID,Card Brand,Card Type,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Card on Dark Web
0,0,0,24,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,0,1,25,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,0,2,26,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,0,3,20,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,0,4,17,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,1997,1,1,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6142,1997,2,20,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6143,1998,0,7,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6144,1999,0,11,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6145,1999,1,20,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

### Format Credit Card Data

In [18]:
# Remove the `Card Brand` and `Card Type` columns
cc_df.drop(columns=["Card Brand", "Card Type"], inplace=True)

# Rename `CARD INDEX` column to `Card` to match joined `Card` column from cc_sales_gzip_df
cc_df.rename(columns={"CARD INDEX": "Card"}, inplace=True)

# Cast `Acct Open Date` as Datetime
cc_df["Acct Open Date"] = pd.to_datetime(cc_df["Acct Open Date"], format="%m/%Y")

# Insert `Age of Account` (in Years)
cc_df.insert(11, "Age of Account", "")
current_datetime = datetime.now()
cc_df["Age of Account"] = (current_datetime - cc_df["Acct Open Date"]).dt.days // 365

# Cast intended measures as numerical data types
cc_df["Credit Limit"] = cc_df["Credit Limit"].str.replace("$", "")
cc_df["Credit Limit"] = cc_df["Credit Limit"].astype(int)
cc_df["Credit Limit"] = cc_df["Credit Limit"] + 50000

cc_df.head()

,User,Card,Retailer ID,Card Number,Expires,CVV,Has Chip,Cards Issued,Credit Limit,Acct Open Date,Year PIN last Changed,Age of Account,Card on Dark Web
0,0,0,24,4344676511950444,12/2022,623,YES,2,74295,2002-09-01,2008,21,No
1,0,1,25,4956965974959986,12/2020,393,YES,2,71968,2014-04-01,2014,10,No
2,0,2,26,4582313478255491,02/2024,719,YES,2,96414,2003-07-01,2004,21,No
3,0,3,20,4879494103069057,08/2024,693,NO,1,62400,2003-01-01,2012,21,No
4,0,4,17,5722874738736011,03/2009,75,YES,1,50028,2008-09-01,2009,15,No

In [24]:
import numpy as np

# Define the simulation parameters
np.random.seed(42)  # For reproducibility

# Generate payment data
payment_data = []

for index, row in cc_df.iterrows():
    account_age_years = row["Age of Account"]
    credit_limit = row["Credit Limit"]
    acct_open_date = row["Acct Open Date"]

    # Determine the number of payments (one per month for each year)
    num_payments = account_age_years * 12

    # Generate random dates for payments
    payment_dates = pd.date_range(start=acct_open_date, periods=num_payments, freq="M")

    # Generate random payment amounts (some delinquent, some default)
    for date in payment_dates:
        if np.random.rand() < 0.1:  # 10% chance of delinquent payment
            payment_amount = np.random.uniform(0.01, 0.5) * credit_limit
            status = "Delinquent"
        elif np.random.rand() < 0.05:  # 5% chance of default
            payment_amount = 0
            status = "Default"
        else:
            payment_amount = np.random.uniform(0.5, 1.0) * credit_limit
            status = "On Time"

        payment_data.append(
            {
                "User": row["User"],
                "Card": row["Card"],
                "Payment Date": date,
                "Payment Amount": payment_amount,
                "Payment Status": status,
            }
        )

# Create a dataframe for the payment data
payment_df = pd.DataFrame(payment_data)

# import ace_tools as tools; tools.display_dataframe_to_user(name="Simulated Payments Data", dataframe=payment_df)

# Display the first few rows of the payment data
payment_df.head(n=10000)

      User  Card Payment Date  Payment Amount Payment Status
0        0     0   2002-09-30    64339.244953        On Time
1        0     0   2002-10-31    42942.306444        On Time
2        0     0   2002-11-30    32275.702808     Delinquent
3        0     0   2002-12-31    37912.162502        On Time
4        0     0   2003-01-31    45035.367114        On Time
5        0     0   2003-02-28    48449.338720        On Time
6        0     0   2003-03-31    47965.934486        On Time
7        0     0   2003-04-30    47999.943331        On Time
8        0     0   2003-05-31    66314.824026        On Time
9        0     0   2003-06-30    59154.220197        On Time
10       0     0   2003-07-31    22860.346938     Delinquent
11       0     0   2003-08-31    72396.225495        On Time
12       0     0   2003-09-30    48463.139990        On Time
13       0     0   2003-10-31    25652.145425     Delinquent
14       0     0   2003-11-30    55542.084268        On Time
15       0     0   2003-12-31    33846.350043     Delinquent
16       0     0   2004-01-31    48726.787199        On Time
17       0     0   2004-02-29    44014.380887        On Time
18       0     0   2004-03-31    72047.536932        On Time
19       0     0   2004-04-30    71392.823146        On Time
20       0     0   2004-05-31     7877.617914     Delinquent
21       0     0   2004-06-30    12586.454293     Delinquent
22       0     0   2004-07-31    67933.026621        On Time
23       0     0   2004-08-31    57307.302749        On Time
24       0     0   2004-09-30    39916.870036        On Time
25       0     0   2004-10-31    44529.290780        On Time
26       0     0   2004-11-30    30429.456345     Delinquent
27       0     0   2004-12-31    65798.265204        On Time
28       0     0   2005-01-31    13792.733538     Delinquent
29       0     0   2005-02-28    60301.467166        On Time
30       0     0   2005-03-31    48699.715796        On Time
31       0     0   2005-04-30    60831.166167        On Time
32       0     0   2005-05-31    41590.127251        On Time
33       0     0   2005-06-30    57997.544697        On Time
34       0     0   2005-07-31    56565.717779        On Time
35       0     0   2005-08-31        0.000000        Default
36       0     0   2005-09-30        0.000000        Default
37       0     0   2005-10-31    56039.629750        On Time
38       0     0   2005-11-30    52392.199633        On Time
39       0     0   2005-12-31    40007.111200        On Time
40       0     0   2006-01-31    71683.443540        On Time
41       0     0   2006-02-28    69520.082274        On Time
42       0     0   2006-03-31    70303.835396        On Time
43       0     0   2006-04-30    70435.051564        On Time
44       0     0   2006-05-31    45614.721451        On Time
45       0     0   2006-06-30    69121.489342        On Time
46       0     0   2006-07-31    19336.475714     Delinquent
47       0     0   2006-08-31    41600.198733        On Time
48       0     0   2006-09-30    49153.680917        On Time
49       0     0   2006-10-31    50655.430654        On Time
50       0     0   2006-11-30    46500.582834        On Time
51       0     0   2006-12-31    47728.612265        On Time
52       0     0   2007-01-31    22933.865275     Delinquent
53       0     0   2007-02-28    47498.519530        On Time
54       0     0   2007-03-31    42529.982261        On Time
55       0     0   2007-04-30    46139.248198        On Time
56       0     0   2007-05-31    45975.140665        On Time
57       0     0   2007-06-30    60636.080842        On Time
58       0     0   2007-07-31    40501.539233        On Time
59       0     0   2007-08-31    44076.196365        On Time
60       0     0   2007-09-30    22254.141695     Delinquent
61       0     0   2007-10-31        0.000000        Default
62       0     0   2007-11-30    61114.056232        On Time
63       0     0   2007-12-31    51513.751277        On Time
64       0     0   2008-01-31    49817.262276        On Time
65       0     0   2008-02-29    69738.463630        On Time
66       0     0   2008-03-31    67505.261682        On Time
67       0     0   2008-04-30    46131.707976        On Time
68       0     0   2008-05-31    33405.685921     Delinquent
69       0     0   2008-06-30    49741.609163        On Time
70       0     0   2008-07-31    70472.903382        On Time
71       0     0   2008-08-31    60997.370576        On Time
72       0     0   2008-09-30     6626.970604     Delinquent
73       0     0   2008-10-31    37489.147475        On Time
74       0     0   2008-11-30    37335.525186        On Time
75       0     0   2008-12-31    62849.676856        On Time
76       0     0   2009-01-31    63603.177625        On Time
77       0     0   2009-02-28    64877.789472        On Time
78       0     0   2009-03-31    61576.174917        On Time
79       0     0   2009-04-30    50807.222794        On Time
80       0     0   2009-05-31    73292.409583        On Time
81       0     0   2009-06-30    60592.722109        On Time
82       0     0   2009-07-31    58578.037054        On Time
83       0     0   2009-08-31    63984.789952        On Time
84       0     0   2009-09-30        0.000000        Default
85       0     0   2009-10-31    72083.185262        On Time
86       0     0   2009-11-30    50897.970318        On Time
87       0     0   2009-12-31    34537.969528     Delinquent
88       0     0   2010-01-31    72943.573099        On Time
89       0     0   2010-02-28    51452.917873        On Time
90       0     0   2010-03-31    43443.731808        On Time
91       0     0   2010-04-30    63003.266872        On Time
92       0     0   2010-05-31    59993.480954        On Time
93       0     0   2010-06-30    56402.150761        On Time
94       0     0   2010-07-31    63039.892239        On Time
95       0     0   2010-08-31    48053.703035        On Time
96       0     0   2010-09-30    69357.068954        On Time
97       0     0   2010-10-31    55777.576557        On Time
98       0     0   2010-11-30    63223.814573        On Time
99       0     0   2010-12-31    49703.175089        On Time
100      0     0   2011-01-31    58629.161538        On Time
101      0     0   2011-02-28    17692.836331     Delinquent
102      0     0   2011-03-31    59095.478547        On Time
103      0     0   2011-04-30     2102.594005     Delinquent
104      0     0   2011-05-31    41867.480394        On Time
105      0     0   2011-06-30    45164.711619        On Time
106      0     0   2011-07-31    39067.346737        On Time
107      0     0   2011-08-31    60826.427266        On Time
108      0     0   2011-09-30    56326.767189        On Time
109      0     0   2011-10-31    47208.241054        On Time
110      0     0   2011-11-30    38089.216741        On Time
111      0     0   2011-12-31    63001.201821        On Time
112      0     0   2012-01-31    42958.745043        On Time
113      0     0   2012-02-29    63692.952039        On Time
114      0     0   2012-03-31    72618.358013        On Time
115      0     0   2012-04-30    59871.396421        On Time
116      0     0   2012-05-31    50370.995080        On Time
117      0     0   2012-06-30        0.000000        Default
118      0     0   2012-07-31        0.000000        Default
119      0     0   2012-08-31    31885.607604     Delinquent
120      0     0   2012-09-30    40781.794483        On Time
121      0     0   2012-10-31    43581.516462        On Time
122      0     0   2012-11-30    60024.791517        On Time
123      0     0   2012-12-31        0.000000        Default
124      0     0   2013-01-31    55837.754166        On Time
125      0     0   2013-02-28    43200.106630        On Time
126      0     0   2013-03-31    24129.934734     Delinquent
127      0     0   2013-04-30    22067.846437     Delinquent
128      0     0   2013-05-31    51567.042334        On Time
129      0     0   2013-06-30    57415.799681        On Time
130      0     0   2013-07-31    72853.326470        On Time
131      0     0   2013-08-31    39724.098924        On Time
132      0     0   2013-09-30        0.000000        Default
133      0     0   2013-10-31    25607.504233     Delinquent
134      0     0   2013-11-30    12355.114282     Delinquent
135      0     0   2013-12-31        0.000000        Default
136      0     0   2014-01-31    41537.027934        On Time
137      0     0   2014-02-28    69743.391622        On Time
138      0     0   2014-03-31    47624.379285        On Time
139      0     0   2014-04-30    67119.393477        On Time
140      0     0   2014-05-31    50967.041842        On Time
141      0     0   2014-06-30    71722.807753        On Time
142      0     0   2014-07-31    65040.482991        On Time
143      0     0   2014-08-31    70675.084101        On Time
144      0     0   2014-09-30    49036.542554        On Time
145      0     0   2014-10-31    37550.091658        On Time
146      0     0   2014-11-30    49009.203352        On Time
147      0     0   2014-12-31    58449.283949        On Time
148      0     0   2015-01-31    48039.547142        On Time
149      0     0   2015-02-28    65096.332832        On Time
150      0     0   2015-03-31    40535.578713        On Time
151      0     0   2015-04-30    57561.124156        On Time
152      0     0   2015-05-31    50183.115429        On Time
153      0     0   2015-06-30    65435.716192        On Time
154      0     0   2015-07-31    40271.857580        On Time
155      0     0   2015-08-31    67677.546552        On Time
156      0     0   2015-09-30    40299.008984        On Time
157      0     0   2015-10-31    50915.929158        On Time
158      0     0   2015-11-30    73774.974518        On Time
159      0     0   2015-12-31    40249.342874        On Time
160      0     0   2016-01-31    52906.287089        On Time
161      0     0   2016-02-29    55447.291062        On Time
162      0     0   2016-03-31    17804.329775     Delinquent
163      0     0   2016-04-30     5068.462774     Delinquent
164      0     0   2016-05-31    64861.202153        On Time
165      0     0   2016-06-30    51073.004853        On Time
166      0     0   2016-07-31    45453.526411        On Time
167      0     0   2016-08-31        0.000000        Default
168      0     0   2016-09-30        0.000000        Default
169      0     0   2016-10-31    74033.659764        On Time
170      0     0   2016-11-30    20905.765989     Delinquent
171      0     0   2016-12-31    60528.085910        On Time
172      0     0   2017-01-31    60459.713780        On Time
173      0     0   2017-02-28    38835.719414        On Time
174      0     0   2017-03-31    70218.573912        On Time
175      0     0   2017-04-30    47451.517495        On Time
176      0     0   2017-05-31    50273.651891        On Time
177      0     0   2017-06-30    73343.831118        On Time
178      0     0   2017-07-31    57062.139769        On Time
179      0     0   2017-08-31    62583.551232        On Time
180      0     0   2017-09-30    67702.702231        On Time
181      0     0   2017-10-31    59934.340991        On Time
182      0     0   2017-11-30    69319.608335        On Time
183      0     0   2017-12-31     1702.827841     Delinquent
184      0     0   2018-01-31    73822.340014        On Time
185      0     0   2018-02-28    51296.643097        On Time
186      0     0   2018-03-31    68289.315558        On Time
187      0     0   2018-04-30    47303.889205        On Time
188      0     0   2018-05-31    32222.778982     Delinquent
189      0     0   2018-06-30    74170.066905        On Time
190      0     0   2018-07-31    72243.184951        On Time
191      0     0   2018-08-31    53884.088266        On Time
192      0     0   2018-09-30    59665.372233        On Time
193      0     0   2018-10-31    60109.418812        On Time
194      0     0   2018-11-30    62094.765283        On Time
195      0     0   2018-12-31    56470.273658        On Time
196      0     0   2019-01-31    57984.943298        On Time
197      0     0   2019-02-28    42125.830699        On Time
198      0     0   2019-03-31    28233.381981     Delinquent
199      0     0   2019-04-30    45058.586190        On Time
200      0     0   2019-05-31        0.000000        Default
201      0     0   2019-06-30    51718.385665        On Time
202      0     0   2019-07-31    50084.319961        On Time
203      0     0   2019-08-31    51878.073006        On Time
204      0     0   2019-09-30    72419.817367        On Time
205      0     0   2019-10-31    55428.389997        On Time
206      0     0   2019-11-30    73553.260090        On Time
207      0     0   2019-12-31    60676.758236        On Time
208      0     0   2020-01-31    41935.059470        On Time
209      0     0   2020-02-29    42304.582396        On Time
210      0     0   2020-03-31    49988.175407        On Time
211      0     0   2020-04-30    61945.601092        On Time
212      0     0   2020-05-31    38665.666923        On Time
213      0     0   2020-06-30    43722.996965        On Time
214      0     0   2020-07-31     5134.644601     Delinquent
215      0     0   2020-08-31    50679.214663        On Time
216      0     0   2020-09-30    38607.847715        On Time
217      0     0   2020-10-31    40184.643639        On Time
218      0     0   2020-11-30    39416.393514        On Time
219      0     0   2020-12-31    64943.476849        On Time
220      0     0   2021-01-31    50909.612438        On Time
221      0     0   2021-02-28    50851.719426        On Time
222      0     0   2021-03-31    38510.189279        On Time
223      0     0   2021-04-30    70402.196003        On Time
224      0     0   2021-05-31    41128.672291        On Time
225      0     0   2021-06-30    46154.673034        On Time
226      0     0   2021-07-31    37893.094819        On Time
227      0     0   2021-08-31    49313.207890        On Time
228      0     0   2021-09-30    59197.975668        On Time
229      0     0   2021-10-31    55663.381585        On Time
230      0     0   2021-11-30    20296.071957     Delinquent
231      0     0   2021-12-31    53182.572994        On Time
232      0     0   2022-01-31    50635.099605        On Time
233      0     0   2022-02-28    50375.603125        On Time
234      0     0   2022-03-31    45959.882246        On Time
235      0     0   2022-04-30    46284.214715        On Time
236      0     0   2022-05-31    47738.072779        On Time
237      0     0   2022-06-30    40127.983067        On Time
238      0     0   2022-07-31    73640.409672        On Time
239      0     0   2022-08-31    73160.902920        On Time
240      0     0   2022-09-30    46727.945268        On Time
241      0     0   2022-10-31    71671.494556        On Time
242      0     0   2022-11-30    47548.023382        On Time
243      0     0   2022-12-31    49171.374434        On Time
244      0     0   2023-01-31    46152.415535        On Time
245      0     0   2023-02-28    47869.403476        On Time
246      0     0   2023-03-31    55020.651934        On Time
247      0     0   2023-04-30    49651.507424        On Time
248      0     0   2023-05-31    73922.047733        On Time
249      0     0   2023-06-30    46606.763723        On Time
250      0     0   2023-07-31    59273.990117        On Time
251      0     0   2023-08-31    50107.083931        On Time
252      0     1   2014-04-30    70709.528353        On Time
253      0     1   2014-05-31    69749.242998        On Time
254      0     1   2014-06-30    62652.485444        On Time
255      0     1   2014-07-31    41013.569201        On Time
256      0     1   2014-08-31    41872.995448        On Time
257      0     1   2014-09-30    59920.456790        On Time
258      0     1   2014-10-31    67549.184261        On Time
259      0     1   2014-11-30    51785.830550        On Time
260      0     1   2014-12-31    46828.781424        On Time
261      0     1   2015-01-31    44339.941622        On Time
262      0     1   2015-02-28    55543.206154        On Time
263      0     1   2015-03-31    40190.459097        On Time
264      0     1   2015-04-30    48035.243638        On Time
265      0     1   2015-05-31    58296.698049        On Time
266      0     1   2015-06-30    64360.882049        On Time
267      0     1   2015-07-31    44925.633207        On Time
268      0     1   2015-08-31        0.000000        Default
269      0     1   2015-09-30    67533.534673        On Time
270      0     1   2015-10-31    39964.972423        On Time
271      0     1   2015-11-30    50279.985864        On Time
272      0     1   2015-12-31    44233.382206        On Time
273      0     1   2016-01-31    59055.056422        On Time
274      0     1   2016-02-29    45044.737336        On Time
275      0     1   2016-03-31    68673.684999        On Time
276      0     1   2016-04-30    52608.816838        On Time
277      0     1   2016-05-31    57078.894275        On Time
278      0     1   2016-06-30    36635.676855        On Time
279      0     1   2016-07-31    56319.752478        On Time
280      0     1   2016-08-31    61433.275017        On Time
281      0     1   2016-09-30    57816.034229        On Time
282      0     1   2016-10-31    69606.262659        On Time
283      0     1   2016-11-30    40058.757842        On Time
284      0     1   2016-12-31    40469.861920        On Time
285      0     1   2017-01-31    54653.868648        On Time
286      0     1   2017-02-28    37954.542811        On Time
287      0     1   2017-03-31    36150.678716        On Time
288      0     1   2017-04-30    55321.643376        On Time
289      0     1   2017-05-31    48468.764017        On Time
290      0     1   2017-06-30    44066.179949        On Time
291      0     1   2017-07-31    42331.109322        On Time
292      0     1   2017-08-31    68903.814904        On Time
293      0     1   2017-09-30    58735.398136        On Time
294      0     1   2017-10-31    24118.874219     Delinquent
295      0     1   2017-11-30    41333.479595        On Time
296      0     1   2017-12-31    71855.523078        On Time
297      0     1   2018-01-31    38397.679962        On Time
298      0     1   2018-02-28    68299.585551        On Time
299      0     1   2018-03-31    37299.203248        On Time
300      0     1   2018-04-30    38348.459681        On Time
301      0     1   2018-05-31    54853.659451        On Time
302      0     1   2018-06-30    56122.097682        On Time
303      0     1   2018-07-31    66994.493787        On Time
304      0     1   2018-08-31    45726.476318        On Time
305      0     1   2018-09-30    36897.502622        On Time
306      0     1   2018-10-31    59694.719126        On Time
307      0     1   2018-11-30     8547.377349     Delinquent
308      0     1   2018-12-31    36693.263991        On Time
309      0     1   2019-01-31    42408.751119        On Time
310      0     1   2019-02-28    39562.299077        On Time
311      0     1   2019-03-31    66775.381708        On Time
312      0     1   2019-04-30    60024.375554        On Time
313      0     1   2019-05-31    68237.748094        On Time
314      0     1   2019-06-30     3735.080195     Delinquent
315      0     1   2019-07-31        0.000000        Default
316      0     1   2019-08-31    51148.541029        On Time
317      0     1   2019-09-30    48283.955583        On Time
318      0     1   2019-10-31    57225.173211        On Time
319      0     1   2019-11-30    50716.268892        On Time
320      0     1   2019-12-31    46580.055891        On Time
321      0     1   2020-01-31    41025.832517        On Time
322      0     1   2020-02-29    68173.567333        On Time
323      0     1   2020-03-31    36792.535591        On Time
324      0     1   2020-04-30    58779.080262        On Time
325      0     1   2020-05-31    66028.129641        On Time

### Output Credit Card Data as CSV

In [16]:
# Output DataFrame to CSV file
cc_df.to_csv(f"{outdir}/cards_processed.csv", index=False)

## Process Users Data from S3

1. [Load Users Data from S3.](#Load-Users-Data-from-S3)
2. [Load Contracts Data from S3.](#Load-Contracts-Data-from-S3)
3. [Join Credit Loss Attributes to Users Data.](#Join-Credit-Loss-Attributes-to-Users-Data)
4. [Format Users Data.](#Format-Users-Data)
5. [Output Users Data as CSV.](#Output-Users-Data-as-CSV)

### Load Users Data from S3

In [15]:
# Load users data
users_df = pd.read_csv("s3://data.atoti.io/notebooks/retail-banking/input/users.csv")
users_df = users_df.rename_axis("User").reset_index()
users_df

,User,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,State,Zipcode,Latitude,Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,CA,91750,34.15,-117.76,$29278,$59696,$127613,787,5
1,1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,NY,11363,40.76,-73.74,$37891,$77254,$191349,701,5
2,2,Saanvi Lee,81,67,1938,11,Female,766 Third Drive,NaN,West Covina,CA,91792,34.02,-117.89,$22681,$33483,$196,698,5
3,3,Everlee Clark,63,63,1957,1,Female,3 Madison Street,NaN,New York,NY,10069,40.71,-73.99,$163145,$249925,$202328,722,4
4,4,Kyle Peterson,43,70,1976,9,Male,9620 Valley Stream Drive,NaN,San Francisco,CA,94117,37.76,-122.44,$53797,$109687,$183855,675,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Jose Faraday,32,70,1987,7,Male,6577 Lexington Lane,9.0,Freeport,NY,11520,40.65,-73.58,$23550,$48010,$87837,703,3
1996,1996,Ximena Richardson,62,65,1957,11,Female,2 Elm Drive,955.0,Independence,KY,41051,38.95,-84.54,$24218,$49378,$104480,740,4
1997,1997,Annika Russell,47,67,1973,1,Female,276 Fifth Boulevard,NaN,Elizabeth,NJ,7201,40.66,-74.19,$15175,$30942,$71066,779,3
1998,1998,Juelz Roman,66,60,1954,2,Male,259 Valley Boulevard,NaN,Camp Hill,PA,17011,40.24,-76.92,$25336,$54654,$27241,618,1
1999,1999,Kenia Harris,21,60,1998,11,Female,472 Ocean View Street,NaN,Merrimack,NH,3054,42.86,-71.48,$32325,$65909,$181261,673,2

### Load Contracts Data from S3

In [16]:
# Use `read_csv` pandas function to load contracts data from S3 URI
contracts_df = pd.read_csv(
    "s3://data.atoti.io/notebooks/retail-banking/input/loan_contracts.csv",
    low_memory=False,
)
contracts_df

,Reporting Date,EAD,PD12,PDLT,LGD,Maturity Date,Residual Maturity,Bucketed Arrears,Reporting Index,Is New Contract,Client ID,FICO,FICO Segment,LTV Segment,Macro Economic Scenario,Entity
0,12/30/22,69795.693590,0.057123,0.024117,0.607348,11/5/32,3597,0,2,False,9XFALYXL,300,300-410,81%-90%,Base,Paris
1,12/30/22,24045.796250,0.056460,0.021793,0.613929,12/5/32,3598,0,0,True,KHAAK99A,300,300-410,>30%,Base,Paris
2,12/30/22,2019.251356,0.017708,0.017708,0.607348,8/10/23,460,0,113,False,AZHHTHYX,300,300-410,>30%,Base,Paris
3,12/30/22,20563.067570,0.034836,0.154493,0.613929,8/15/31,3152,0,17,False,YZAZKX99,300,300-410,>30%,Base,Paris
4,12/30/22,2666.804003,0.017043,0.017043,0.613929,5/15/24,504,0,20,False,AZLKF9YH,300,300-410,30%-50%,Base,Paris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336393,12/30/22,460.992072,0.041017,0.041017,0.322573,10/15/23,290,91-180,50,False,BN9JJQ,850,741-850,71%-80%,Base,NewYork
336394,12/30/22,116.777909,0.041017,0.041017,0.322573,6/28/23,181,0,47,False,NSJJQ,850,741-850,>30%,Base,NewYork
336395,12/30/22,2461.296310,0.013934,0.063931,0.497079,4/9/26,1168,0,44,False,BJGBJ9,850,741-850,81%-90%,Base,NewYork
336396,12/30/22,41522.000000,0.019270,0.038064,0.607348,1/15/25,746,0,11,False,122O9E2E,850,741-850,71%-80%,Base,NewYork
336397,12/30/22,41031.000000,0.020043,0.038103,0.613929,1/15/25,746,0,11,False,12242K11,850,741-850,>30%,Base,NewYork

### Join Credit Loss Attributes to Users Data

In [17]:
# Group by FICO and calculate the average for EAD along with other numeric values
groupby_contracts_df = contracts_df.groupby(["FICO"]).mean(["EAD"])
groupby_contracts_df.reset_index()

,FICO,EAD,PD12,PDLT,LGD,Residual Maturity,Reporting Index,Is New Contract
0,300,8980.553229,0.104477,0.155930,0.604633,1787.578864,26.446372,0.015773
1,301,9349.136091,0.112370,0.163001,0.605998,1786.359551,26.280899,0.028892
2,302,8508.016229,0.100375,0.148074,0.602229,1739.838710,27.416129,0.030645
3,303,7804.911004,0.091073,0.137547,0.598811,1727.121685,26.806552,0.031201
4,304,8688.726128,0.103132,0.154085,0.604463,1741.822476,28.037459,0.027687
...,...,...,...,...,...,...,...,...
546,846,9125.236908,0.094646,0.143602,0.600449,1820.182566,27.258224,0.023026
547,847,8643.170678,0.103138,0.149518,0.605348,1697.993681,27.949447,0.018957
548,848,7772.732491,0.097820,0.148221,0.606113,1737.099130,27.521739,0.020870
549,849,7968.876954,0.104263,0.151679,0.607293,1769.934084,26.741158,0.030547
550,850,9627.143318,0.107191,0.156488,0.602894,1759.222910,26.934985,0.030960

In [18]:
# Join both DataFrames on FICO score to consolidate credit loss attributes
merge_df = pd.merge(
    users_df, groupby_contracts_df, left_on="FICO Score", right_on="FICO"
)
merge_df

,User,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,...,Total Debt,FICO Score,Num Credit Cards,EAD,PD12,PDLT,LGD,Residual Maturity,Reporting Index,Is New Contract
0,0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,$127613,787,5,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316
1,955,Nickolas Lopez,21,67,1999,2,Male,92196 Tenth Drive,NaN,Leesburg,...,$85204,787,2,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316
2,1134,Kallie Rodriguez,39,71,1980,7,Female,135 Littlewood Avenue,6.0,Oceanside,...,$91549,787,1,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316
3,1479,Rylan Rodriguez,33,69,1986,10,Female,928 Bayview Street,NaN,Portage,...,$0,787,3,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316
4,1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,...,$191349,701,5,8943.997200,0.105292,0.150311,0.602701,1747.076299,26.618506,0.038961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1796,Alessandro Davis,37,66,1982,12,Male,550 Forest Street,NaN,Helena,...,$71180,580,1,8195.670961,0.103159,0.150773,0.607600,1747.212670,26.556561,0.024133
1996,1817,Darren Turner,31,63,1988,5,Male,6692 Lake Street,NaN,Taylorsville,...,$53853,514,1,8681.589080,0.123131,0.171764,0.611464,1825.388976,27.366929,0.020472
1997,1874,August Braun,42,72,1977,8,Male,331 Oak Lane,NaN,Antioch,...,$99235,563,2,9434.481972,0.097110,0.143415,0.605630,1780.612245,26.211931,0.032967
1998,1888,Kyng El-Mafouk,51,68,1968,10,Male,207 Ocean View Street,NaN,Berkeley Heights,...,$242379,505,1,8936.491473,0.101380,0.149277,0.602884,1747.658249,26.885522,0.040404
1999,1905,Janelle Campbell,30,64,1989,8,Female,847 Martin Luther King Lane,97.0,Ray City,...,$33332,501,2,8529.125961,0.097007,0.142145,0.607841,1749.551938,25.522481,0.035659

### Format Users Data

In [19]:
# View columns of combined DataFrame
merge_df.columns

Index(['User', 'Person', 'Current Age', 'Retirement Age', 'Birth Year',
       'Birth Month', 'Gender', 'Address', 'Apartment', 'City', 'State',
       'Zipcode', 'Latitude', 'Longitude', 'Per Capita Income - Zipcode',
       'Yearly Income - Person', 'Total Debt', 'FICO Score',
       'Num Credit Cards', 'EAD', 'PD12', 'PDLT', 'LGD', 'Residual Maturity',
       'Reporting Index', 'Is New Contract'],
      dtype='object')

In [20]:
# Remove currency symbols
merge_df["Per Capita Income - Zipcode"] = merge_df[
    "Per Capita Income - Zipcode"
].str.replace("$", "")
merge_df["Yearly Income - Person"] = merge_df["Yearly Income - Person"].str.replace(
    "$", ""
)
merge_df["Total Debt"] = merge_df["Total Debt"].str.replace("$", "")
merge_df

# Cast intended measures and numeric columns
merge_df["Per Capita Income - Zipcode"] = merge_df[
    "Per Capita Income - Zipcode"
].astype(int)
merge_df["Yearly Income - Person"] = merge_df["Yearly Income - Person"].astype(int)
merge_df["Total Debt"] = merge_df["Total Debt"].astype(int)

In [21]:
# Create age range bins
merge_df["Age Range"] = pd.cut(
    merge_df["Current Age"],
    [0, 10, 20, 30, 40, 50, 60, np.inf],
    labels=["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60+"],
    right=False,
)

# Create income range bins
merge_df["Income Range"] = pd.cut(
    merge_df["Yearly Income - Person"],
    [0, 20000, 50000, 80000, 100000, 150000, 200000, np.inf],
    labels=[
        "0K - 20K",
        "20K - 50K",
        "50K - 80K",
        "80K - 100K",
        "100K - 150K",
        "150K - 200K",
        "200K+",
    ],
    right=False,
)

In [22]:
merge_df

,User,Person,Current Age,Retirement Age,Birth Year,Birth Month,Gender,Address,Apartment,City,...,Num Credit Cards,EAD,PD12,PDLT,LGD,Residual Maturity,Reporting Index,Is New Contract,Age Range,Income Range
0,0,Hazel Robinson,53,66,1966,11,Female,462 Rose Lane,NaN,La Verne,...,5,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316,50-59,50K - 80K
1,955,Nickolas Lopez,21,67,1999,2,Male,92196 Tenth Drive,NaN,Leesburg,...,2,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316,20-29,80K - 100K
2,1134,Kallie Rodriguez,39,71,1980,7,Female,135 Littlewood Avenue,6.0,Oceanside,...,1,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316,30-39,20K - 50K
3,1479,Rylan Rodriguez,33,69,1986,10,Female,928 Bayview Street,NaN,Portage,...,3,7543.452009,0.102502,0.148166,0.608904,1664.486322,28.908815,0.024316,30-39,20K - 50K
4,1,Sasha Sadr,53,68,1966,12,Female,3606 Federal Boulevard,NaN,Little Neck,...,5,8943.997200,0.105292,0.150311,0.602701,1747.076299,26.618506,0.038961,50-59,50K - 80K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1796,Alessandro Davis,37,66,1982,12,Male,550 Forest Street,NaN,Helena,...,1,8195.670961,0.103159,0.150773,0.607600,1747.212670,26.556561,0.024133,30-39,20K - 50K
1996,1817,Darren Turner,31,63,1988,5,Male,6692 Lake Street,NaN,Taylorsville,...,1,8681.589080,0.123131,0.171764,0.611464,1825.388976,27.366929,0.020472,30-39,20K - 50K
1997,1874,August Braun,42,72,1977,8,Male,331 Oak Lane,NaN,Antioch,...,2,9434.481972,0.097110,0.143415,0.605630,1780.612245,26.211931,0.032967,40-49,50K - 80K
1998,1888,Kyng El-Mafouk,51,68,1968,10,Male,207 Ocean View Street,NaN,Berkeley Heights,...,1,8936.491473,0.101380,0.149277,0.602884,1747.658249,26.885522,0.040404,50-59,100K - 150K
1999,1905,Janelle Campbell,30,64,1989,8,Female,847 Martin Luther King Lane,97.0,Ray City,...,2,8529.125961,0.097007,0.142145,0.607841,1749.551938,25.522481,0.035659,30-39,20K - 50K

In [23]:
# Drop extraneous columns
merge_df.drop(
    columns=["Residual Maturity", "Reporting Index", "Is New Contract"], inplace=True
)

### Output Users Data as CSV

In [24]:
merge_df.to_csv(f"{outdir}/users_processed.csv", index=False)

## Process Credit Card Transactions Data from S3

* [Load Credit Card Transactions Data from S3](#Load-Credit-Card-Transactions-Data-from-S3)
* [Modify Merchant Names to be MerchantN](#Modify-Merchant-Names-to-be-MerchantN-e.g.-(Merchant1,-Merchant2,-etc.))
* [Join New Merchant Names to Credit Card Transactions Data](#Join-New-Merchant-Names-to-Credit-Card-Transactions-Data)
* [Drop Extraneous Columns and Format Data](#Drop-Extraneous-Columns-and-Format-Data)
* [Format Credit Card Transactions Data](#Format-Credit-Card-Transactions-Data)
* [Downsize Original Data Volume to 5 Million](#Downsize-Original-Data-Volume-to-5-Million)
* [Simulate Payments](#Simulate-Payments)
* [Output Credit Card Transactions Data to CSV](#Output-Credit-Card-Transactions-Data-to-CSV)
* [Compress CSV to GZIP](#Compress-CSV-to-GZIP)

### Load Credit Card Transactions Data from S3

In [25]:
# Use `read_csv` pandas function to load contracts data from S3 URI
cc_sales_gzip_df = pd.read_csv(
    "s3://data.atoti.io/notebooks/retail-banking/input/credit_card_transactions.csv.gz",
    compression="gzip",
)
cc_sales_gzip_df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,No

### Modify Merchant Names to be MerchantN e.g. (Merchant1, Merchant2, etc.)

In [26]:
merchant_name_df = pd.DataFrame(
    cc_sales_gzip_df.groupby("Merchant Name").count().index.tolist(),
    columns=["Merchant Name"],
)
merchant_name_df

              Merchant Name
0      -9222899435637403521
1      -9222692221935167526
2      -9222439367252190791
3      -9222264855000293132
4      -9222232253446715869
...                     ...
100338  9222821118491815331
100339  9222874644865944349
100340  9222877122873253163
100341  9222957302638210593
100342  9223291803303717674

[100343 rows x 1 columns]

In [27]:
merchant_name_df.insert(1, "Merchant Name (Revised)", "")
merchant_name_df

              Merchant Name Merchant Name (Revised)
0      -9222899435637403521
1      -9222692221935167526
2      -9222439367252190791
3      -9222264855000293132
4      -9222232253446715869
...                     ...                     ...
100338  9222821118491815331
100339  9222874644865944349
100340  9222877122873253163
100341  9222957302638210593
100342  9223291803303717674

[100343 rows x 2 columns]

In [28]:
counter = 1

for index, row in merchant_name_df.iterrows():
    name = f"Merchant {counter}"
    merchant_name_df.loc[index, "Merchant Name (Revised)"] = name
    counter += 1

In [29]:
merchant_name_df

              Merchant Name Merchant Name (Revised)
0      -9222899435637403521              Merchant 1
1      -9222692221935167526              Merchant 2
2      -9222439367252190791              Merchant 3
3      -9222264855000293132              Merchant 4
4      -9222232253446715869              Merchant 5
...                     ...                     ...
100338  9222821118491815331         Merchant 100339
100339  9222874644865944349         Merchant 100340
100340  9222877122873253163         Merchant 100341
100341  9222957302638210593         Merchant 100342
100342  9223291803303717674         Merchant 100343

[100343 rows x 2 columns]

### Join New Merchant Names to Credit Card Transactions Data

In [30]:
merchant_name_merge_df = pd.merge(
    cc_sales_gzip_df,
    merchant_name_df,
    left_on="Merchant Name",
    right_on="Merchant Name",
)
merchant_name_merge_df

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Merchant Name (Revised)
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
1,0,0,2002,9,10,06:22,$102.18,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
2,0,0,2002,9,16,06:00,$115.34,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
3,0,0,2002,9,18,06:19,$128.85,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
4,0,0,2002,9,23,06:01,$134.89,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2019,12,21,07:59,$42.80,Chip Transaction,-3533580464561517260,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386896,1999,1,2019,12,22,08:15,$46.72,Chip Transaction,-3533580464561517260,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386897,1999,1,2019,12,22,20:25,$46.30,Chip Transaction,-3533580464561517260,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386898,1999,1,2019,12,23,19:48,$49.00,Chip Transaction,-3533580464561517260,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386899,1999,1,2019,12,24,07:50,$48.02,Chip Transaction,-3533580464561517260,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143

### Drop Extraneous Columns and Format Data

In [31]:
merchant_name_merge_df.pop("Merchant Name")
merchant_name_merge_df.rename(
    columns={"Merchant Name (Revised)": "Merchant Name"}, inplace=True
)

merchant_name_merge_df["Year"] = merchant_name_merge_df["Year"].astype(str)
merchant_name_merge_df["Month"] = merchant_name_merge_df["Month"].astype(str)
merchant_name_merge_df["Day"] = merchant_name_merge_df["Day"].astype(str)

# Create a `Datetime` column and combine values
# From Year, Month, Day, and Time columns to
# Create a proper Datetime data type column
merchant_name_merge_df.insert(2, "Datetime", "")
merchant_name_merge_df["Datetime"] = pd.to_datetime(
    merchant_name_merge_df["Year"]
    + " "
    + merchant_name_merge_df["Month"]
    + " "
    + merchant_name_merge_df["Day"]
    + " "
    + merchant_name_merge_df["Time"]
)
merchant_name_merge_df.drop(columns=["Year", "Month", "Day", "Time"], inplace=True)
merchant_name_merge_df

,User,Card,Datetime,Amount,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Merchant Name
0,0,0,2002-09-01 06:21:00,$134.09,Swipe Transaction,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
1,0,0,2002-09-10 06:22:00,$102.18,Swipe Transaction,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
2,0,0,2002-09-16 06:00:00,$115.34,Swipe Transaction,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
3,0,0,2002-09-18 06:19:00,$128.85,Swipe Transaction,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
4,0,0,2002-09-23 06:01:00,$134.89,Swipe Transaction,La Verne,CA,91750.0,5300,NaN,No,Merchant 69375
...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2019-12-21 07:59:00,$42.80,Chip Transaction,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386896,1999,1,2019-12-22 08:15:00,$46.72,Chip Transaction,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386897,1999,1,2019-12-22 20:25:00,$46.30,Chip Transaction,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386898,1999,1,2019-12-23 19:48:00,$49.00,Chip Transaction,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143
24386899,1999,1,2019-12-24 07:50:00,$48.02,Chip Transaction,Russellville,AL,35653.0,4121,NaN,No,Merchant 31143

In [32]:
merchant_name_merge_df_revised = merchant_name_merge_df[
    [
        "User",
        "Card",
        "Datetime",
        "Amount",
        "Use Chip",
        "Merchant Name",
        "Merchant City",
        "Merchant State",
        "Zip",
        "MCC",
        "Errors?",
        "Is Fraud?",
    ]
].copy()

In [33]:
merchant_name_merge_df_revised

,User,Card,Datetime,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002-09-01 06:21:00,$134.09,Swipe Transaction,Merchant 69375,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002-09-10 06:22:00,$102.18,Swipe Transaction,Merchant 69375,La Verne,CA,91750.0,5300,NaN,No
2,0,0,2002-09-16 06:00:00,$115.34,Swipe Transaction,Merchant 69375,La Verne,CA,91750.0,5300,NaN,No
3,0,0,2002-09-18 06:19:00,$128.85,Swipe Transaction,Merchant 69375,La Verne,CA,91750.0,5300,NaN,No
4,0,0,2002-09-23 06:01:00,$134.89,Swipe Transaction,Merchant 69375,La Verne,CA,91750.0,5300,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2019-12-21 07:59:00,$42.80,Chip Transaction,Merchant 31143,Russellville,AL,35653.0,4121,NaN,No
24386896,1999,1,2019-12-22 08:15:00,$46.72,Chip Transaction,Merchant 31143,Russellville,AL,35653.0,4121,NaN,No
24386897,1999,1,2019-12-22 20:25:00,$46.30,Chip Transaction,Merchant 31143,Russellville,AL,35653.0,4121,NaN,No
24386898,1999,1,2019-12-23 19:48:00,$49.00,Chip Transaction,Merchant 31143,Russellville,AL,35653.0,4121,NaN,No
24386899,1999,1,2019-12-24 07:50:00,$48.02,Chip Transaction,Merchant 31143,Russellville,AL,35653.0,4121,NaN,No

### Format Credit Card Transactions Data

In [34]:
# Cast intended measures as numerical data types
merchant_name_merge_df_revised["Amount"] = merchant_name_merge_df_revised[
    "Amount"
].str.replace("$", "")
merchant_name_merge_df_revised["Amount"] = merchant_name_merge_df_revised[
    "Amount"
].astype(float)
merchant_name_merge_df_revised["Amount"] = (
    merchant_name_merge_df_revised["Amount"] * 0.20
)

### Downsize Original Data Volume to 5 Million

In [35]:
merchant_name_merge_df_5MM = merchant_name_merge_df_revised[19386900:]

### Simulate Payments

In [38]:
dfupdate = merchant_name_merge_df_5MM.sample(1000000)
dfupdate.Amount *= -1
merchant_name_merge_df_5MM.update(dfupdate)
merchant_name_merge_df_5MM.head(20)

,User,Card,Datetime,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
19386900,50,0,2019-07-04 23:37:00,4.432,Chip Transaction,Merchant 47076,Beaverton,OR,97007.0,5921,NaN,No
19386901,50,1,2019-06-28 23:33:00,3.436,Chip Transaction,Merchant 47076,Beaverton,OR,97007.0,5921,NaN,No
19386902,792,1,2015-11-28 16:08:00,1.672,Chip Transaction,Merchant 47076,Yonkers,NY,10703.0,5921,NaN,No
19386903,1210,1,2007-03-07 22:52:00,4.076,Swipe Transaction,Merchant 47076,Beaverton,OR,97007.0,5921,NaN,No
19386904,1575,0,2016-05-23 07:07:00,2.462,Swipe Transaction,Merchant 47076,Shreveport,LA,71107.0,5921,NaN,No
19386905,50,0,2019-12-17 23:56:00,3.818,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386906,50,3,2017-01-07 23:46:00,-1.750,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386907,598,1,2019-09-18 15:09:00,3.660,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386908,598,1,2019-09-18 15:51:00,-4.084,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386909,598,1,2019-09-20 15:10:00,3.144,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386910,598,1,2019-09-21 15:27:00,3.434,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386911,598,2,2019-09-12 15:15:00,3.090,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386912,598,2,2019-09-13 15:05:00,-4.496,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386913,598,2,2019-09-17 14:56:00,-3.672,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386914,598,2,2019-09-19 16:02:00,3.448,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386915,598,3,2019-10-03 15:11:00,3.888,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386916,598,3,2019-10-08 15:24:00,3.964,Chip Transaction,Merchant 48650,Whittaker,MI,48190.0,5921,NaN,No
19386917,50,0,2019-12-24 02:53:00,5.778,Chip Transaction,Merchant 95246,Waltham,MA,2451.0,5813,NaN,No
19386918,50,0,2019-12-25 02:35:00,4.002,Chip Transaction,Merchant 95246,Waltham,MA,2451.0,5813,NaN,No
19386919,50,1,2019-12-25 03:19:00,4.874,Chip Transaction,Merchant 95246,Waltham,MA,2451.0,5813,NaN,No

### Output Credit Card Transactions Data to CSV

In [37]:
merchant_name_merge_df_5MM.to_csv(
    f"{outdir}/credit_card_transactions_processed_5MM.csv", index=False
)

### Compress CSV to GZIP

In [38]:
!gzip -f data/credit_card_transactions_processed_5MM.csv

## Notes for Improvement

* We can refactor the entity relationship assignment for Cards-to-Retailers.
* We should adjust `Amount` values depending on the category of the purchase (e.g. Airline purchases should probably be over $100 at minimum).
* We shoud make sure that no single user is over `100%` credit card utilization.
* We should make sure that no single user is under `0%` credit card utilization.

<div style="text-align: center;" ><a href="https://www.atoti.io/?utm_source=gallery&utm_content=cc-data-generator" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/Your-turn-to-try-Atoti.jpg" alt="Try atoti"></a></div>