In [1]:
import pandas as pd
import random

In [2]:
# Read the Parquet file
df = pd.read_parquet(
    "s3://data.atoti.io/notebooks/intraday-liquidity/cashflow_202110.parquet"
)
df.head()

,Transaction_Id,Legal_Entity,Country,Correspondent_Name,Correspondent_Account,Settlement_Currency,Transaction_Date,Settlement_Date,Settlement_Time,Status,...,Settlement_Amount,Net_Settlement_Amount,Opening_Balance,Available,Expected,Processing,Anticipated,Collateral,Outlook_Amount,Forecast_Amount
0,TXN2021090101391563A1,AU_BRANCH,UNITED STATES,"J.P Morgan Chase Bank, New York",987777175,USD,2021-09-01,2021-09-01,00:00:00,Open posn,...,1.741638e+06,1.741638e+06,1.741638e+06,1.741638e+06,NaN,NaN,NaN,NaN,1.741638e+06,1.741638e+06
1,TXN2021090101391564A1,US_BRANCH,HONG KONG,China Construction Bank (Asia) Corporation Lim...,4444 3007 5500,HKD,2021-09-01,2021-09-01,00:00:00,Open posn,...,1.450846e+07,1.450846e+07,1.450846e+07,1.450846e+07,NaN,NaN,NaN,NaN,1.450846e+07,1.450846e+07
2,TXN2021090101391565A1,JP_BRANCH,JAPAN,Account 12,RAND-0030,JPY,2021-09-01,2021-09-01,00:00:00,Open posn,...,3.067281e+08,3.067281e+08,3.067281e+08,3.067281e+08,NaN,NaN,NaN,NaN,3.067281e+08,3.067281e+08
3,TXN2021090101391566A1,JP_BRANCH,JAPAN,TSB,ATOTI-0026,JPY,2021-09-01,2021-09-01,00:00:00,Open posn,...,2.150290e+08,2.150290e+08,2.150290e+08,2.150290e+08,NaN,NaN,NaN,NaN,2.150290e+08,2.150290e+08
4,TXN2021090101391567A1,HK_BRANCH,HONG KONG,Account 2,RAND-0020,HKD,2021-09-01,2021-09-01,00:00:00,Open party,...,1.266130e+07,1.266130e+07,1.266130e+07,1.266130e+07,NaN,NaN,NaN,NaN,1.266130e+07,1.266130e+07

In [3]:
# Read the CSV file
df2 = pd.read_csv(
    "https://data.atoti.io/notebooks/intraday-liquidity/cashflow_realtime_20211015.csv"
)
df2.head()

,Transaction_Id,Legal_Entity,Country,Correspondent_Name,Correspondent_Account,Settlement_Currency,Transaction_Date,Settlement_Date,Settlement_Time,Status,...,Settlement_Amount,Net_Settlement_Amount,Opening_Balance,Available,Expected,Processing,Anticipated,Collateral,Outlook_Amount,Forecast_Amount
0,TXN2021101501639383A1,AU_BRANCH,UNITED STATES,"J.P Morgan Chase Bank, New York",987777175,USD,2021-10-15,2021-10-15,00:00:00,Open party,...,1.880976e+06,1.880976e+06,1.880976e+06,1.880976e+06,NaN,NaN,NaN,NaN,1.880976e+06,1.880976e+06
1,TXN2021101501639384A1,US_BRANCH,HONG KONG,China Construction Bank (Asia) Corporation Lim...,4444 3007 5500,HKD,2021-10-15,2021-10-15,00:00:00,Open party,...,1.569898e+07,1.569898e+07,1.569898e+07,1.569898e+07,NaN,NaN,NaN,NaN,1.569898e+07,1.569898e+07
2,TXN2021101501639385A1,JP_BRANCH,JAPAN,Account 12,RAND-0030,JPY,2021-10-15,2021-10-15,00:00:00,Open party,...,3.344010e+08,3.344010e+08,3.344010e+08,3.344010e+08,NaN,NaN,NaN,NaN,3.344010e+08,3.344010e+08
3,TXN2021101501639386A1,JP_BRANCH,JAPAN,TSB,ATOTI-0026,JPY,2021-10-15,2021-10-15,00:00:00,Open party,...,2.336137e+08,2.336137e+08,2.336137e+08,2.336137e+08,NaN,NaN,NaN,NaN,2.336137e+08,2.336137e+08
4,TXN2021101501639387A1,HK_BRANCH,HONG KONG,Account 2,RAND-0020,HKD,2021-10-15,2021-10-15,00:00:00,Open party,...,1.362294e+07,1.362294e+07,1.362294e+07,1.362294e+07,NaN,NaN,NaN,NaN,1.362294e+07,1.362294e+07

In [4]:
# List of counterparty banks from each country
# ---
# United States: Wells Fargo
# Hong Kong: HSBC Hong Kong
# Japan: Sumitomo Mitsui Financial Group
# Australia: Macquarie Bank
# Belgium: Argenta
# Germany: Commerzbank
# France: Société Générale
# Switzerland: Julius Baer Group
# United Kingdom: Standard Chartered

banks = [
    "Wells Fargo",
    "HSBC Hong Kong",
    "Sumitomo Mitsui Financial Group",
    "Macquarie Bank",
    "Argenta",
    "Commerzbank",
    "Société Générale",
    "Julius Baer Group",
    "Standard Chartered",
]

# Add Counterparty column and randomly assign from the list of banks
df.insert(5, "Counterparty", [random.choice(banks) for _ in range(len(df))])
df2.insert(5, "Counterparty", [random.choice(banks) for _ in range(len(df2))])

In [5]:
# Define a function to reduce the values
def multiply_by_factor(x, factor=0.00001):
    return x * factor


# Columns to increase/decrease by factor
list = [
    "Settlement_Amount",
    "Net_Settlement_Amount",
    "Opening_Balance",
    "Available",
    "Outlook_Amount",
    "Forecast_Amount",
]

for column in list:
    # Reduce across all records for above columns
    df[column] = df[column].apply(multiply_by_factor, args=(1,))
    df2[column] = df2[column].apply(multiply_by_factor, args=(1,))

    # Reduce for a specific column and matching value for above columns
    df.loc[df["Direction"] == "OUT", column] = df.loc[
        df["Direction"] == "OUT", column
    ].apply(multiply_by_factor, args=(1,))
df.head()

,Transaction_Id,Legal_Entity,Country,Correspondent_Name,Correspondent_Account,Counterparty,Settlement_Currency,Transaction_Date,Settlement_Date,Settlement_Time,...,Settlement_Amount,Net_Settlement_Amount,Opening_Balance,Available,Expected,Processing,Anticipated,Collateral,Outlook_Amount,Forecast_Amount
0,TXN2021090101391563A1,AU_BRANCH,UNITED STATES,"J.P Morgan Chase Bank, New York",987777175,Argenta,USD,2021-09-01,2021-09-01,00:00:00,...,1.741638e+06,1.741638e+06,1.741638e+06,1.741638e+06,NaN,NaN,NaN,NaN,1.741638e+06,1.741638e+06
1,TXN2021090101391564A1,US_BRANCH,HONG KONG,China Construction Bank (Asia) Corporation Lim...,4444 3007 5500,Argenta,HKD,2021-09-01,2021-09-01,00:00:00,...,1.450846e+07,1.450846e+07,1.450846e+07,1.450846e+07,NaN,NaN,NaN,NaN,1.450846e+07,1.450846e+07
2,TXN2021090101391565A1,JP_BRANCH,JAPAN,Account 12,RAND-0030,HSBC Hong Kong,JPY,2021-09-01,2021-09-01,00:00:00,...,3.067281e+08,3.067281e+08,3.067281e+08,3.067281e+08,NaN,NaN,NaN,NaN,3.067281e+08,3.067281e+08
3,TXN2021090101391566A1,JP_BRANCH,JAPAN,TSB,ATOTI-0026,Julius Baer Group,JPY,2021-09-01,2021-09-01,00:00:00,...,2.150290e+08,2.150290e+08,2.150290e+08,2.150290e+08,NaN,NaN,NaN,NaN,2.150290e+08,2.150290e+08
4,TXN2021090101391567A1,HK_BRANCH,HONG KONG,Account 2,RAND-0020,Wells Fargo,HKD,2021-09-01,2021-09-01,00:00:00,...,1.266130e+07,1.266130e+07,1.266130e+07,1.266130e+07,NaN,NaN,NaN,NaN,1.266130e+07,1.266130e+07

In [6]:
df.to_parquet("cashflow_202110_counterparty.parquet")
df2.to_csv("cashflow_realtime_20211015_counterparty.csv")

In [7]:
df.to_csv("cashflow_202110_counterparty.csv")